/**************************************************
*		iPhone lockscreen
**************************************************/
blockquote.phone {
	border: none;
	max-width: 400px;
	margin: auto;/*center*/
	font-family: "Helvetica Neue", "Helvetica", system-ui;
}

.notifications {
	margin: 0;
}

.notifications dt {
	font-weight: bold;
}

.notifications dd {
	margin: 0;
}

/* notification bubble */
.notifications .text,
.notifications .call {
	border: 1px solid rgba(127,127,127, 0.5);
	background: rgb(218, 218, 218, 0.25);
	border-radius: 1em;
	padding: 0.7em;
	margin: 0.25em;
	position: relative;
}

/* small gray font */
.notifications .text:before,
.notifications .call:before,
.notifications .time {
	color: rgba(0,0,0, 0.5);
	font-size: 0.8em;
}

.notifications .time {
	font-weight: normal;
	font-family: inherit;
	position: absolute;
	top: 1em;
	right: 1em;
}

/* icons */
.notifications .text:before,
.notifications .call:before {
	display: inline-block;
	margin-bottom: 0.5em;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: contain;
	padding-left: 1.75em;
	font-variant: small-caps;
}

.notifications .text:before {
	content: "MESSAGES";
	background-image: url("https://raw.githubusercontent.com/Azdaema/For-X/master/Fran/40messages.png");
}

.notifications .call:before {
	content: "PHONE";
	background-image: url("https://raw.githubusercontent.com/Azdaema/For-X/master/Fran/40calls.png");
}

/**************************************************
*		Note card
**************************************************/
blockquote.notecard {
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
	padding: 1em;
	max-width: 11em /*250px*/;
	height: 6em /*150px*/;
	margin: auto;
	display: flex;
	background: white;
	font-size: 1.25em;
	font-family: serif;
}

blockquote.notecard p {
	margin: auto;
	text-align: center;
}

/**************************************************
*		"Next On"
**************************************************/
.next-on {
	background: rgb(218, 218, 218, 0.5);
	padding: .75em;
	border-inline-start: 2px solid #999;
	border-inline-end: 2px solid #999;
}

/* Hide "Next on" line and replace it with smallcaps version */
.next-on::before {
	content: "Next on Perihelion";
	font-weight: bold;
	font-variant: small-caps;
	font-size: 1.25em;
}
.next-on p:first-child {
	display: none;
}

/**************************************************
*		Misc
**************************************************/
.null {
	display: none;
}

.fill-height {
	height: 100vh;
}
