.podfic {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;/* horizontally align items to center */
	align-items: stretch;/* make row items same height */
}

.podfic .cover,
.podfic .content {
	flex: initial;
	flex-basis: 450px;
	margin: 0.5em;
}

.podfic .cover img {
	width: 100%;
	display: block;
}

.podfic .content {
	box-sizing: border-box;
	border: 0.1em solid black;
	outline: 0.1em solid black;
	outline-offset: -0.7em;
	padding: 1.2em;
}

.podfic .content audio,
.podfic .content iframe {
	width: 100%;
}
