blockquote.phone {
	width: 100%;
	max-width: 320px;
	margin: auto;
	padding: 0;
	border: none;
}

.whatsapp {
	font-family: "Helvetica Neue", "Helvetica", system-ui;
	display: table;
	width: 100%;
	background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/WhatsApp/images/WhatsApp_background.png");
	background-repeat: repeat-y;
	background-size: 100%;
}

.whatsapp * {
	font-family: inherit;
}

/**************************************************
*		Basic conversation bubbles
**************************************************/
.whatsapp dt {
	display: none;
}

.whatsapp dd {
	max-width: 65%;
	clear: both;
	position: relative;
	color: #000000;
	line-height: 1.25em;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 1px 15px;
	border-bottom: 1px solid rgba(0,0,0, 0.2);
	z-index: 1;
	word-wrap: break-word;
}

/* spacing */
.whatsapp div:first-of-type {
	margin-top: 0.5em;
}
.whatsapp dd:last-child {
	margin-bottom: 0.5em;
}

/* tails */
.whatsapp dd:last-of-type:after {
	content: "";
	position: absolute;
	width: 25px;
	height: 16px;
	bottom: 4px;
	border-top: 9px solid;
	border-radius: 100%;
	clip: rect(0px,16px,16px,0px);
	z-index: -1;
}

.whatsapp .out dd {
	float: right;
	background: #DCF8C6;
}
.whatsapp .out dd:last-of-type:after {
	border-color: #DCF8C6;
	transform: rotate(240deg);
	right: -16px;
}

.whatsapp .in dd {
	float: left;
	background: #FFFFFF;
}
.whatsapp .in dd:last-of-type:after {
	border-color: #FFFFFF;
	transform: scaleX(-1) rotate(240deg);
	left: -16px;
}

/**************************************************
*		time
**************************************************/
.whatsapp .day,
.whatsapp dd sub {
	font-size: 0.75em;
	color: #999;
	text-transform: uppercase;
}

.whatsapp .day {
	width: 100px;
	background: #D4EAF4;
	border-radius: 5px;
	padding: 5px;
	margin: 10px auto;
	text-align: center;
	display: table;
}

.whatsapp dd sub {
	display: inline-block;
	float: right;
	line-height: 1.3em;
	padding-top: 0.5em;
	padding-left: 1.5em;
	margin: 0;
}

.whatsapp .out dd sub:after {
	content: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/WhatsApp/images/Checkmark_read.png");
	margin-left: 3px;
}


/**************************************************
*		Emojis
**************************************************/
.whatsapp dd.emoji1 {font-size: 2.5em;}
.whatsapp dd.emoji2 {font-size: 2em;}
.whatsapp dd.emoji3 {font-size: 1.5em;}

.whatsapp dd.emoji1 sub,
.whatsapp dd.emoji2 sub,
.whatsapp dd.emoji3 sub {
	display: block;
	float: none;
	text-align: right;
	padding: 0 !important;
}

.whatsapp dd.emoji1 sub {font-size: 0.3em;}
.whatsapp dd.emoji2 sub {font-size: 0.375em;}
.whatsapp dd.emoji3 sub {font-size: 0.5em;}


/**************************************************
*		Pictures
**************************************************/
.whatsapp .pic {
	padding: 3px;
}

.whatsapp .pic img {
	border-radius: 3px;
	width: 100%;
	display: block;
}

.whatsapp .pic.solo sub {
	color: #ffffff;
	position: absolute;
	bottom: 2px;
	right: 5px;
}

/**************************************************
*		Contact header
**************************************************/
.whatsapp .contact {
	position: relative;
	background: #075E54;
	margin: 0;
	padding: 10px;
	line-height: 2em;
	font-size: 15px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: left;
	padding-left: 65px;
	padding-right: 120px;
	max-width: 135px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border: none;
}

.whatsapp .contact:before,
.whatsapp .contact:after {
	content: "";
	position: absolute;
	top: 10px;
	bottom: 10px;
	background-repeat: no-repeat;
}

.whatsapp .contact:before {
	left: 10%;
	width: 2em;
	background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/FontAwesome/white/fa-user-circle.png");
	border-radius: 50%;
	background-position: left;
	background-size: 2em;
}
.whatsapp .contact.valerio:before {
	background-image: url("https://raw.githubusercontent.com/Azdaema/For-X/master/CarlaDuquette/IconPic_Val.png");
}

.whatsapp .contact:after {
	right: 5px;
	width: 100%; 
	background-image: url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/FontAwesome/white/fa-arrow-left.png"), url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/FontAwesome/white/fa-video.png"), url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/FontAwesome/white/fa-phone-alt.png"), url("https://raw.githubusercontent.com/Azdaema/AO3-Skin_Messaging/master/FontAwesome/white/fa-ellipsis-v.png");
	background-position: 5%, 73%, 86%, 95%;
	background-size: auto 1em, 1.3em auto, auto 1em, auto 1em;
}
