blockquote.letter {
	position: relative;
	border: none; /* turn off left border */
	margin: 1em auto; /* 1em buffer at vertical ends; center horizontally */
	max-width: 70ch;
	padding: 2em;
	font-size: 1.25em;
	/* Coloring: base and edges (inset glow) */
	background: #f8ede1;
	box-shadow: inset 0 0 5em #ddc6a9;
}

/* setup for texture */
blockquote.letter::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0.3;
}

/* Only very slight space between paragraphs */
blockquote.letter p {
	margin: 0.25em;
}

/**************************************************
*	Parts of the letter
**************************************************/
/* heading; date/place; right */
blockquote.letter .heading {
	margin-left: auto;
	margin-right: 0;
	width: max-content;
	max-width: 100%;
	font-family: inherit;
}

/* body, paragraphs */
blockquote.letter > p:not([class]) {
	text-indent: 2em;
}

blockquote.letter p.closing,
blockquote.letter p.signature {
	min-width: 25%;
	width: max-content;
	max-width: 80%;
	margin-right: 15%;
	margin-left: auto;
}

/* "yours truly"; "sincerely"; "your brother, who loves you as he loves himself"; etc. */
blockquote.letter p.closing {
	margin-top: 0.5em;
}

/* big cursive name */
blockquote.letter p.signature {
	font-size: 1.5em;
	text-align: center;
}

/**************************************************
*	personal details
**************************************************/
blockquote.letter.Dorothy {
	font-family: "FranciscoLucas Llana", "Savoye Let", auto;
	padding: 4em;
	outline: 1px solid black;
	outline-offset: -2em;
}
blockquote.letter.Dorothy::before {
	background-image: url("https://raw.githubusercontent.com/Azdaema/For-X/master/thecloserkin/Texture2.jpg");
}

blockquote.letter.William {
	font-family: "Bilbo", Zapfino, auto;
}
blockquote.letter.William::before {
	background-image: url("https://raw.githubusercontent.com/Azdaema/For-X/master/thecloserkin/Texture1.jpg");
}
#workskin .letter.William .signature {
	color: transparent;
	width: 20ch;
	background: url("https://raw.githubusercontent.com/Azdaema/For-X/master/thecloserkin/WilliamWordsworth_signature.png");
	background-size: contain;
	background-repeat: no-repeat;
}
